body {
  background-color: blanchedalmond;
}

.h1-Name {
  color: purple;
  font-family: "Nunito Sans", sans-serif;
  -webkit-text-stroke: 1px black;
}
p {
  font-size: 20px;
  color: green;
  font-family: "Nunito Sans", sans-serif;
  -webkit-text-stroke: 1px black;
}
img {
  width: 300px;
  height: auto;
  border-radius: 25px;
  box-shadow: 2px 2px 12px #555;
}

.my-button {
  background-color: blueviolet;
  color: cornsilk;
  font-size: 18px;
  padding: 10px 20px;
  border: solid 2px white;
  border-radius: 12px;
  font-family: "Nunito Sans", sans-serif;
}

.my-button:hover {
  background-color: rgb(152, 39, 218);
  color: lightyellow;
}
